@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.swal2-popup-custom {
    backdrop-filter: blur(5px); /* Fondo borroso */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 15px #27366eCC; /* Sombra con el mismo color del fondo */
}

/* Estilo para el título */
.swal2-title-custom {
    font-family: "Candal", sans-serif;
    font-size: 24px;
    letter-spacing: 3px; /* Espaciado de letras */
}

.swal2-icon-custom{
    background-color: #27366e;
    backdrop-filter: blur(5px);
}

/* Estilo para el contenido del texto */
.swal2-content-custom {
    font-family: none !important;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 3px; /* Espaciado de letras */
}

/* Estilo para los botones */
.swal2-button-custom {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px; /* Bordes redondeados */
    letter-spacing: 3px; /* Espaciado de letras */
}

/* Efecto borroso para los botones */
.swal2-button-blur {
    backdrop-filter: blur(5px); /* Efecto borroso en los botones */
}

/*----------------------------------------------------------------------------------------------------------------*/

.swal2-popup-custom-2 {
    backdrop-filter: blur(5px); /* Fondo borroso */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 15px #27366eCC; /* Sombra con el mismo color del fondo */
}

/* Estilo para el título */
.swal2-title-custom-2 {
    font-family: "Candal", sans-serif;
    font-size: 24px;
    letter-spacing: 3px; /* Espaciado de letras */
}

.swal2-icon-custom-2 {
    backdrop-filter: blur(5px);
}


/* Estilo para los botones */
.swal2-button-custom-2 {
    font-family: "Open Sans", sans-serif;
    border-radius: 10px; /* Bordes redondeados */
    letter-spacing: 3px; /* Espaciado de letras */
}

/* Efecto borroso para los botones */
.swal2-button-blur-2 {
    backdrop-filter: blur(5px); /* Efecto borroso en los botones */
}
